body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 10vh;
    font-family: 'Montserrat', sans-serif;

    #navBarConnecter {
        display: flex;
        flex-direction: row;
        background-color: #006060;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        #logo {
            display: flex;
            height: 80%;
            width: 90px;
            padding-left: 2%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #searchBar {
            display: flex;
            height: 40%;
            width: 40%;

            input {
                width: 40%;
                border: none;

                &:focus {
                    outline: none;
                    background-color: #EFFEFE;
                }

                &::placeholder {
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                }

            }

            i {
                color: white;
            }

            p {
                margin: 0 10%;
                align-self: center;
                color: white;
            }

        }

    }




    #navBarNonConnecter {
        display: flex;
        flex-direction: row;
        background-color: #006060;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        #logo {
            display: flex;
            height: 80%;
            width: 90px;
            padding-left: 2%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #searchBar {
            display: flex;
            padding-right: 10%;
            height: 40%;
            width: 30%;

            input {
                width: 80%;

                &::placeholder {
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                }

            }

            button {
                width: 20%;
            }
        }
    }

}