body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 10vh;
    font-family: 'Montserrat', sans-serif;

    #navBarConnecter {
        display: flex;
        flex-direction: row;
        background-color: #006060;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        #logo {
            display: flex;
            height: 80%;
            width: 90px;
            padding-left: 2%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #searchBar {
            display: flex;
            height: 40%;
            width: 50%;

            button {
                width: 20%;
            }
            
            input {
                width: 35%;
                border: none;

                &:focus {
                    outline: none;
                    background-color: #EFFEFE;
                }

                &::placeholder {
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                }

            }

            i {
                color: white;
            }

            p {
                margin: 0 10%;
                padding: 5px;
                width: 50%;
                align-self: center;
                text-align: center;
                color: white;
                cursor: pointer;
                &:hover, &:focus{
                    background-color: #007070; 
                }
            }

            #profil_menu_deroulant{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 45%;
                height: 100%;
                
                label{
                    display: block;
                    position: absolute;                  
    
                }

                #menu_deroulant{
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                    width: 100%;
                    background-color: #006060;
                    line-height: 3;
                    font-size: 14px;
                    text-decoration: none;
                    list-style-type: none;
                    padding: 0;
                    

                    div{
                        width: 120px;
                        height: 120px;
                        align-self: center;

                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: contain;

                        }
                    }
                    
                    
                    #userName{
                      
                        align-self: center;
                        font-size: 16px;
                        padding-bottom: 50px;
                    }
                    #deconnexion{
                        align-self: end;
                        padding-right: 10px;
                    }

                }
            }

           
            
        }

    }


                    //NavBar lorsque le User n'est pas connecté//

    #navBarNonConnecter {
        display: flex;
        flex-direction: row;
        background-color: #006060;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        #logo {
            display: flex;
            height: 80%;
            width: 90px;
            padding-left: 2%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #searchBar {
            display: flex;
            padding-right: 10%;
            height: 40%;
            width: 30%;

            input {
                width: 80%;

                &::placeholder {
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                }

            }

            button {
                width: 20%;
            }
        }
    }

}