body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainlogin {
  font-family: montserrat;
  font-size: 20px;
  color: white;
  background-color: #008080;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 150px 100px 150px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#mainlogin .blockmain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#mainlogin .blockmain .blocktext,
#mainlogin .blockmain .blocklog,
#mainlogin .blockmain .blocksignup,
#mainlogin .blockmain .blocksignout,
#mainlogin .blockmain .blockprofile {
  background-color: #007070;
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainlogin .blockmain .blocktext {
  width: 40%;
}
#mainlogin .blockmain .blocktext h1 {
  font-size: 70px;
}
#mainlogin .blockmain .blocklog {
  text-align: center;
  margin: auto;
  width: 20%;
}
#mainlogin .blockmain .blocklog h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}
#mainlogin .blockmain .blocklog #msgDeconnexion {
  text-align: center;
  margin: 15px 0;
}
#mainlogin .blockmain .blocklog form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#mainlogin .blockmain .blocklog form input {
  width: 15vw;
  height: 3vh;
  margin-top: 15px;
  margin-bottom: 15px;
}
#mainlogin .blockmain .blocklog form input::placeholder {
  font-family: montserrat;
}
#mainlogin .blockmain .blocklog form button {
  font-family: montserrat;
  font-size: 20px;
  width: 10vw;
  color: white;
  border: none;
  background-color: #DAA520;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
#mainlogin .blockmain .blocklog a {
  color: white;
  text-decoration: none;
  margin-top: 10px;
}
#mainlogin .blockmain .blocksignup {
  display: none;
  width: 20%;
}
#mainlogin .blockmain .blocksignup h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}
#mainlogin .blockmain .blocksignup form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#mainlogin .blockmain .blocksignup form input {
  width: 15vw;
  height: 3vh;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
}
#mainlogin .blockmain .blocksignup form input:focus {
  outline: none;
  background-color: #EFFEFE;
}
#mainlogin .blockmain .blocksignup form input::placeholder {
  font-family: montserrat;
}
#mainlogin .blockmain .blocksignup form button {
  font-family: montserrat;
  font-size: 20px;
  width: 10vw;
  color: white;
  border: none;
  background-color: #DAA520;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
#mainlogin .blockmain .blocksignout {
  display: none;
  width: 20%;
}
#mainlogin .blockmain .blocksignout .linkconnection {
  display: flex;
  flex-direction: row;
}
#mainlogin .blockmain .blocksignout .linkconnection a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 30px;
}
#mainlogin .blockmain .blockprofile {
  display: none;
  width: 20%;
}
#mainlogin .blockmain .blockprofile ul {
  list-style-type: none;
}
#mainlogin .blockmain .blockprofile ul li {
  padding-bottom: 30px;
}
#mainlogin .blockmain .blockprofile ul li a {
  text-decoration: none;
  color: white;
}
#mainlogin .blockmain .blockprofile a {
  color: white;
  text-decoration: none;
}

#addBooks {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: montserrat;
  height: 100vh;
  align-items: center;
}
#addBooks h1 {
  font-size: 1.5em;
}
#addBooks form {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 50%;
  padding: 5em;
  justify-content: space-between;
  background-color: #006060;
}
#addBooks form select,
#addBooks form input {
  height: 2em;
  border-radius: 15px;
  border: none;
}
#addBooks form section {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 35% 1fr;
  color: white;
}
#addBooks form button {
  width: 35%;
  border: none;
  line-height: 2em;
  border-radius: 15px;
  font-size: 1em;
  margin: 0 auto;
  background-color: #DAA520;
  color: white;
}
#addBooks form button:hover {
  background-color: #e1c88b;
  color: black;
}

button {
  background-color: #DAA520;
  border: none;
}
button:hover {
  background-color: #DAAD3C;
}

input {
  border: none;
}
input:focus {
  outline: none;
  background-color: #EFFEFE;
}
input::placeholder {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10vh;
  font-family: "Montserrat", sans-serif;
}
header #navBarConnecter {
  display: flex;
  flex-direction: row;
  background-color: #006060;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header #navBarConnecter #logo {
  display: flex;
  height: 80%;
  width: 90px;
  padding-left: 2%;
}
header #navBarConnecter #logo img {
  width: 100%;
  height: 100%;
}
header #navBarConnecter #searchBar {
  display: flex;
  height: 40%;
  width: 50%;
}
header #navBarConnecter #searchBar button {
  width: 20%;
}
header #navBarConnecter #searchBar input {
  width: 35%;
  border: none;
}
header #navBarConnecter #searchBar input:focus {
  outline: none;
  background-color: #EFFEFE;
}
header #navBarConnecter #searchBar input::placeholder {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
header #navBarConnecter #searchBar i {
  color: white;
}
header #navBarConnecter #searchBar p {
  margin: 0 10%;
  padding: 5px;
  width: 50%;
  align-self: center;
  text-align: center;
  color: white;
  cursor: pointer;
}
header #navBarConnecter #searchBar p:hover, header #navBarConnecter #searchBar p:focus {
  background-color: #007070;
}
header #navBarConnecter #searchBar #profil_menu_deroulant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 100%;
}
header #navBarConnecter #searchBar #profil_menu_deroulant label {
  display: block;
  position: absolute;
}
header #navBarConnecter #searchBar #profil_menu_deroulant #menu_deroulant {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  background-color: #006060;
  line-height: 3;
  font-size: 14px;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}
header #navBarConnecter #searchBar #profil_menu_deroulant #menu_deroulant div {
  width: 120px;
  height: 120px;
  align-self: center;
}
header #navBarConnecter #searchBar #profil_menu_deroulant #menu_deroulant div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
header #navBarConnecter #searchBar #profil_menu_deroulant #menu_deroulant #userName {
  align-self: center;
  font-size: 16px;
  padding-bottom: 50px;
}
header #navBarConnecter #searchBar #profil_menu_deroulant #menu_deroulant #deconnexion {
  align-self: end;
  padding-right: 10px;
}
header #navBarNonConnecter {
  display: flex;
  flex-direction: row;
  background-color: #006060;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header #navBarNonConnecter #logo {
  display: flex;
  height: 80%;
  width: 90px;
  padding-left: 2%;
}
header #navBarNonConnecter #logo img {
  width: 100%;
  height: 100%;
}
header #navBarNonConnecter #searchBar {
  display: flex;
  padding-right: 10%;
  height: 40%;
  width: 30%;
}
header #navBarNonConnecter #searchBar input {
  width: 80%;
}
header #navBarNonConnecter #searchBar input::placeholder {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
header #navBarNonConnecter #searchBar button {
  width: 20%;
}

#searchbook {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
#searchbook h1 {
  justify-content: center;
  display: flex;
  margin-bottom: 100px;
  margin-top: 200px;
  font-weight: 100;
}
#searchbook .box {
  display: flex;
  color: white;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 300px;
  background-color: #006060;
}
#searchbook .box .ligne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0 0 50px;
  padding-right: 50px;
  max-width: 100%;
}
#searchbook .box label {
  font-size: 26px;
}
#searchbook .box input {
  border-radius: 8px;
  border: none;
  height: 30px;
  width: 250px;
}
@keyframes buttonAnimation {
  100% {
    background-color: #ffbb00;
    cursor: pointer;
    width: 125px;
  }
}
@keyframes buttonAnimationReverse {
  0% {
    background-color: #ffbb00;
    cursor: pointer;
    width: 125px;
  }
  100% {
    background-color: #DAA520;
    color: white;
    cursor: default;
    width: 120px;
  }
}
#searchbook .box button {
  display: flex;
  background-color: #DAA520;
  border-radius: 8px;
  height: 30px;
  width: 120px;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
}
#searchbook .box button:hover {
  animation: buttonAnimation 0.1s forwards;
}
#searchbook .box button:not(:hover) {
  animation: buttonAnimationReverse 0.1s forwards;
}
#searchbook .box .bouton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#searchUser {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}
#searchUser h1 {
  text-align: center;
}
#searchUser p {
  margin: 5px;
  font-weight: bold;
}
#searchUser #searchArea {
  display: flex;
  justify-content: center;
  height: 8vh;
  width: 90vw;
  margin: auto;
  margin-bottom: 10px;
  border: 20px;
  border-color: #006060;
  padding: 20px;
  background-color: rgb(212, 211, 211);
}
#searchUser #searchArea label {
  margin-left: 20px;
}
#searchUser #searchArea #btnSearchForm0 {
  margin-left: 20px;
  width: 20vw;
  padding-right: 0%;
  border-right: 0%;
}
#searchUser #searchArea #btnSearchForm {
  background-color: #DAA520;
  padding-left: 0%;
  border-left: 0%;
}
#searchUser #searchArea #message {
  color: red;
  text-align: center;
}
#searchUser #userForm {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  width: 90vw;
  border: 10px;
  padding: 20px;
  justify-content: space-evenly;
  background-color: #006060;
}
#searchUser #userForm #userPhoto {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchUser #userForm #userPhoto img {
  height: 30%;
  width: auto;
  border-radius: 40px;
}
#searchUser #userForm #labels, #searchUser #userForm #inputs {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 10px;
  justify-content: space-around;
  border: none;
}
#searchUser #userForm #labels {
  width: 20%;
}

/*# sourceMappingURL=style.css.map */
