body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainlogin {
  font-family: montserrat;
  font-size: 20px;
  color: white;
  background-color: #008080;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 150px 100px 150px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#mainlogin .blockmain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#mainlogin .blockmain .blocktext,
#mainlogin .blockmain .blocklog,
#mainlogin .blockmain .blocksignup,
#mainlogin .blockmain .blocksignout,
#mainlogin .blockmain .blockprofile {
  background-color: #007070;
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainlogin .blockmain .blocktext {
  width: 40%;
}
#mainlogin .blockmain .blocktext h1 {
  font-size: 70px;
}
#mainlogin .blockmain .blocklog {
  width: 20%;
}
#mainlogin .blockmain .blocklog h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}
#mainlogin .blockmain .blocklog p {
  display: none;
  flex-direction: column;
  align-items: center;
}
#mainlogin .blockmain .blocklog form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#mainlogin .blockmain .blocklog form input {
  width: 15vw;
  height: 3vh;
  margin-top: 15px;
  margin-bottom: 15px;
}
#mainlogin .blockmain .blocklog form input::placeholder {
  font-family: montserrat;
}
#mainlogin .blockmain .blocklog form button {
  font-family: montserrat;
  font-size: 20px;
  width: 10vw;
  color: white;
  border: none;
  background-color: #DAA520;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
#mainlogin .blockmain .blocklog a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}
#mainlogin .blockmain .blocksignup {
  display: none;
  width: 20%;
}
#mainlogin .blockmain .blocksignup h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}
#mainlogin .blockmain .blocksignup form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#mainlogin .blockmain .blocksignup form input {
  width: 15vw;
  height: 3vh;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
}
#mainlogin .blockmain .blocksignup form input:focus {
  outline: none;
  background-color: #EFFEFE;
}
#mainlogin .blockmain .blocksignup form input::placeholder {
  font-family: montserrat;
}
#mainlogin .blockmain .blocksignup form button {
  font-family: montserrat;
  font-size: 20px;
  width: 10vw;
  color: white;
  border: none;
  background-color: #DAA520;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
#mainlogin .blockmain .blocksignout {
  display: none;
  width: 20%;
}
#mainlogin .blockmain .blocksignout .linkconnection {
  display: flex;
  flex-direction: row;
}
#mainlogin .blockmain .blocksignout .linkconnection a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 30px;
}
#mainlogin .blockmain .blockprofile {
  display: none;
  width: 20%;
}
#mainlogin .blockmain .blockprofile ul {
  list-style-type: none;
}
#mainlogin .blockmain .blockprofile ul li {
  padding-bottom: 30px;
}
#mainlogin .blockmain .blockprofile ul li a {
  text-decoration: none;
  color: white;
}
#mainlogin .blockmain .blockprofile a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10vh;
  font-family: "Montserrat", sans-serif;
}
header #navBarConnecter {
  display: flex;
  flex-direction: row;
  background-color: #006060;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header #navBarConnecter #logo {
  display: flex;
  height: 80%;
  width: 90px;
  padding-left: 2%;
}
header #navBarConnecter #logo img {
  width: 100%;
  height: 100%;
}
header #navBarConnecter #searchBar {
  display: flex;
  height: 40%;
  width: 40%;
}
header #navBarConnecter #searchBar input {
  width: 40%;
}
header #navBarConnecter #searchBar input::placeholder {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
header #navBarConnecter #searchBar button {
  width: 20%;
}
header #navBarConnecter #searchBar p {
  margin: 0 10%;
  align-self: center;
  color: white;
}
header #navBarNonConnecter {
  display: flex;
  flex-direction: row;
  background-color: #006060;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header #navBarNonConnecter #logo {
  display: flex;
  height: 80%;
  width: 90px;
  padding-left: 2%;
}
header #navBarNonConnecter #logo img {
  width: 100%;
  height: 100%;
}
header #navBarNonConnecter #searchBar {
  display: flex;
  padding-right: 10%;
  height: 40%;
  width: 30%;
}
header #navBarNonConnecter #searchBar input {
  width: 80%;
}
header #navBarNonConnecter #searchBar input::placeholder {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
header #navBarNonConnecter #searchBar button {
  width: 20%;
}

/*# sourceMappingURL=style.css.map */
