<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/afpaOrange/style.css">
    <script src="https://kit.fontawesome.com/99d22a9197.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav id="navBarConnecter">
            <div id="logo">
                <img src="/afpaOrange/assets/Logo site.jpg" alt="">
            </div>
            <div id="searchBar">
                <input type="text" placeholder="Livre ou style">
                <button> 
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <p>Emeline Le Du</p>
            </div>
          
        </nav>
    </header>
    
</body>
</html>