<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/99d22a9197.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav id="navBarConnecter">
            <div id="logo">
                <img src="../assets/Logo site.jpg" alt="">
            </div>
            <div id="searchBar">
                <input type="text" placeholder="Livre ou style">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <div id="profil_menu_deroulant">
                    <p id="profil_navBar" onclick="myFunction()">Pseudo</p>
                    <label for="profil_navBar"></label>
                    <ul id="menu_deroulant">
                        <div>
                            <img src="../assets/nathan.jpg" alt="">
                        </div>
                        <li id="userName">Nathan</li>
                        <li>Page de profil</li>
                        <li>Mes commandes</li>
                        <li>Mes Livres</li>
                        <li>Vendre un Livre</li>
                        <li id="deconnexion">Déconnexion</li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>

</body>
<script src="../scripts/navBarConnecter.js"></script>
</html>